In [1]:
import akshare as ak

In [6]:
df = ak.stock_zh_a_daily("sz000625", start_date="20230101")
df

,date,open,high,low,close,volume,outstanding_share,turnover
0,2023-01-03,12.15,12.38,11.98,12.34,142196728.0,7.604409e+09,0.018699
1,2023-01-04,12.15,12.32,12.11,12.23,94080317.0,7.604409e+09,0.012372
2,2023-01-05,12.38,12.64,12.28,12.49,182929726.0,7.604409e+09,0.024056
3,2023-01-06,12.39,12.85,12.38,12.51,162008303.0,7.604409e+09,0.021305
4,2023-01-09,12.41,12.76,12.40,12.50,163382639.0,7.604409e+09,0.021485
...,...,...,...,...,...,...,...,...
166,2023-09-07,13.15,13.16,12.85,12.89,100887121.0,7.648133e+09,0.013191
167,2023-09-08,12.79,12.92,12.71,12.86,63326901.0,7.648133e+09,0.008280
168,2023-09-11,12.92,13.55,12.81,13.36,188986708.0,7.648133e+09,0.024710
169,2023-09-12,13.44,13.59,13.33,13.47,129741120.0,7.648133e+09,0.016964
170,2023-09-13,13.38,13.43,13.12,13.21,90151813.0,7.648133e+09,0.011787

In [7]:
df.set_index("date")

,open,high,low,close,volume,outstanding_share,turnover
date,,,,,,,
2023-01-03,12.15,12.38,11.98,12.34,142196728.0,7.604409e+09,0.018699
2023-01-04,12.15,12.32,12.11,12.23,94080317.0,7.604409e+09,0.012372
2023-01-05,12.38,12.64,12.28,12.49,182929726.0,7.604409e+09,0.024056
2023-01-06,12.39,12.85,12.38,12.51,162008303.0,7.604409e+09,0.021305
2023-01-09,12.41,12.76,12.40,12.50,163382639.0,7.604409e+09,0.021485
...,...,...,...,...,...,...,...
2023-09-07,13.15,13.16,12.85,12.89,100887121.0,7.648133e+09,0.013191
2023-09-08,12.79,12.92,12.71,12.86,63326901.0,7.648133e+09,0.008280
2023-09-11,12.92,13.55,12.81,13.36,188986708.0,7.648133e+09,0.024710
2023-09-12,13.44,13.59,13.33,13.47,129741120.0,7.648133e+09,0.016964
2023-09-13,13.38,13.43,13.12,13.21,90151813.0,7.648133e+09,0.011787

In [8]:
import pandas as pd
df = pd.read_pickle("./render_logs/BTCUSD_2023-09-14_11-32-52.pkl")

In [9]:
df

,date,open,high,low,close,volume,outstanding_share,turnover,feature_return_close,feature_diff_open,...,data_close,portfolio_valuation,real_position,data_turnover,data_high,idx,reward,step,position_index,portfolio_distribution_asset
199,2020-11-02,16.72,17.88,16.32,17.70,95706902.0,3.900643e+09,0.024536,0.071429,0.944633,...,17.7,10000.0,0,0.024536,17.88,0,0,0,2,0
200,2020-11-03,17.70,17.70,16.90,17.33,75423367.0,3.900643e+09,0.019336,-0.020904,1.021350,...,17.33,10099.470039,-0.484484,0.019336,17.7,1,0,1,1,0
201,2020-11-04,17.23,18.03,17.08,17.58,72516977.0,3.900643e+09,0.018591,0.014426,0.980091,...,17.58,10229.954707,1.0,0.018591,18.03,2,0.296551,2,4,581.908686
202,2020-11-05,18.05,18.71,17.71,18.46,82129415.0,3.900643e+09,0.021055,0.050057,0.977790,...,18.46,10742.034351,1.0,0.021055,18.71,3,0.179947,3,4,581.908686
203,2020-11-06,18.40,18.87,17.03,17.70,95658384.0,3.900643e+09,0.024524,-0.041170,1.039548,...,17.7,10946.72313,-0.469745,0.024524,18.87,4,0.181984,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,2023-08-23,13.04,13.19,12.80,12.81,100547978.0,7.648133e+09,0.013147,-0.028810,1.017955,...,12.81,4825484.959146,1.0,0.013147,13.19,684,0.00587,684,4,376696.718122
884,2023-08-24,12.86,13.25,12.72,13.01,123899711.0,7.648133e+09,0.016200,0.015613,0.988470,...,13.01,4900824.30277,1.0,0.0162,13.25,685,0.006824,685,4,376696.718122
885,2023-08-25,12.90,13.20,12.81,13.08,112789396.0,7.648133e+09,0.014747,0.005380,0.986239,...,13.08,4927193.073039,1.0,0.014747,13.2,686,0.012404,686,4,376696.718122
886,2023-08-28,13.99,14.00,13.00,13.04,221919937.0,7.648133e+09,0.029016,-0.003058,1.072853,...,13.04,4917198.078577,0.499234,0.029016,14.0,687,0.009194,687,3,188254.137771
887,2023-08-29,13.00,13.85,12.95,13.64,252039402.0,7.648133e+09,0.032954,0.046012,0.953079,...,13.64,5140873.860825,1.0,0.032954,13.85,688,0.027639,688,4,376896.910618

In [10]:
df = ak.stock_zh_a_daily("sh601318", start_date="20200101")
df

,date,open,high,low,close,volume,outstanding_share,turnover
0,2020-01-02,85.90,86.79,85.88,86.12,77825207.0,1.083266e+10,0.007184
1,2020-01-03,86.81,86.88,85.90,86.20,59498001.0,1.083266e+10,0.005492
2,2020-01-06,85.92,86.87,85.50,85.60,63644804.0,1.083266e+10,0.005875
3,2020-01-07,86.01,86.46,85.67,86.15,45218832.0,1.083266e+10,0.004174
4,2020-01-08,85.98,85.98,84.50,85.00,62805311.0,1.083266e+10,0.005798
...,...,...,...,...,...,...,...,...
894,2023-09-07,50.71,50.88,50.16,50.22,40329071.0,1.076266e+10,0.003747
895,2023-09-08,50.03,50.45,49.80,50.12,27366737.0,1.076266e+10,0.002543
896,2023-09-11,50.38,50.77,49.85,50.36,49151466.0,1.076266e+10,0.004567
897,2023-09-12,50.10,50.15,49.49,49.95,36114393.0,1.076266e+10,0.003356
898,2023-09-13,50.14,50.22,49.22,49.50,43398924.0,1.076266e+10,0.004032