In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle("./data/binance-BTCUSDT-1h.pkl")

In [3]:
df.head()

,open,high,low,close,volume,date_close
date_open,,,,,,
2022-12-31 17:00:00,16600.93,16604.37,16571.01,16582.08,4844.04845,2022-12-31 18:00:00
2022-12-31 18:00:00,16581.45,16589.36,16571.80,16577.79,3340.80330,2022-12-31 19:00:00
2022-12-31 19:00:00,16577.78,16590.06,16565.10,16570.14,4044.43359,2022-12-31 20:00:00
2022-12-31 20:00:00,16570.14,16574.97,16564.09,16568.60,2622.14355,2022-12-31 21:00:00
2022-12-31 21:00:00,16568.19,16571.64,16544.12,16548.28,3618.77389,2022-12-31 22:00:00

In [5]:
df.tail()

,open,high,low,close,volume,date_close
date_open,,,,,,
2023-06-08 02:00:00,26443.60,26446.00,26363.48,26386.51,1033.29331,2023-06-08 03:00:00
2023-06-08 03:00:00,26386.50,26386.51,26210.00,26344.17,1658.68120,2023-06-08 04:00:00
2023-06-08 04:00:00,26344.16,26428.06,26326.19,26400.97,718.48832,2023-06-08 05:00:00
2023-06-08 05:00:00,26400.96,26435.22,26350.00,26377.51,839.63098,2023-06-08 06:00:00
2023-06-08 06:00:00,26377.51,26377.51,26290.19,26332.86,387.44668,2023-06-08 07:00:00

In [10]:
df1 = pd.read_csv("./data/BTC_USD-Hourly.csv", parse_dates=["date"], index_col= "date")

In [11]:
df1.sort_index(inplace= True)
df1.head()

,unix,symbol,open,high,low,close,volume,Volume USD
date,,,,,,,,
2018-05-15 06:00:00,1526364000,BTC/USD,8733.86,8796.68,8707.28,8740.99,4906603.14,559.93
2018-05-15 07:00:00,1526367600,BTC/USD,8740.99,8766.00,8721.11,8739.00,2390398.89,273.58
2018-05-15 08:00:00,1526371200,BTC/USD,8739.00,8750.27,8660.53,8728.49,7986062.84,917.79
2018-05-15 09:00:00,1526374800,BTC/USD,8728.49,8754.40,8701.35,8708.32,1593991.98,182.62
2018-05-15 10:00:00,1526378400,BTC/USD,8708.32,8865.00,8695.11,8795.90,11101273.74,1260.69

In [12]:
df1.tail()

,unix,symbol,open,high,low,close,volume,Volume USD
date,,,,,,,,
2022-02-28 20:00:00,1646078400,BTC/USD,41361.99,41971.00,41284.11,41914.97,247.151654,1.035935e+07
2022-02-28 21:00:00,1646082000,BTC/USD,41917.09,41917.09,41542.60,41659.53,69.751680,2.905822e+06
2022-02-28 22:00:00,1646085600,BTC/USD,41657.23,44256.08,41650.29,42907.32,527.540571,2.263535e+07
2022-02-28 23:00:00,1646089200,BTC/USD,43085.30,43364.81,42892.37,43178.98,106.816103,4.612210e+06
2022-03-01 00:00:00,1646092800,BTC/USD,43221.71,43626.49,43185.48,43312.27,52.056320,2.254677e+06

In [9]:
df1['ma30'] = df1["close"].rolling(30).mean()

In [10]:
df1

,unix,symbol,open,high,low,close,volume,Volume USD,ma30
date,,,,,,,,,
2022-03-01 00:00:00,1646092800,BTC/USD,43221.71,43626.49,43185.48,43312.27,5.205632e+01,2.254677e+06,NaN
2022-02-28 23:00:00,1646089200,BTC/USD,43085.30,43364.81,42892.37,43178.98,1.068161e+02,4.612210e+06,NaN
2022-02-28 22:00:00,1646085600,BTC/USD,41657.23,44256.08,41650.29,42907.32,5.275406e+02,2.263535e+07,NaN
2022-02-28 21:00:00,1646082000,BTC/USD,41917.09,41917.09,41542.60,41659.53,6.975168e+01,2.905822e+06,NaN
2022-02-28 20:00:00,1646078400,BTC/USD,41361.99,41971.00,41284.11,41914.97,2.471517e+02,1.035935e+07,NaN
...,...,...,...,...,...,...,...,...,...
2018-05-15 10:00:00,1526378400,BTC/USD,8708.32,8865.00,8695.11,8795.90,1.110127e+07,1.260690e+03,8415.643667
2018-05-15 09:00:00,1526374800,BTC/USD,8728.49,8754.40,8701.35,8708.32,1.593992e+06,1.826200e+02,8429.727667
2018-05-15 08:00:00,1526371200,BTC/USD,8739.00,8750.27,8660.53,8728.49,7.986063e+06,9.177900e+02,8446.510667
2018-05-15 07:00:00,1526367600,BTC/USD,8740.99,8766.00,8721.11,8739.00,2.390399e+06,2.735800e+02,8465.144333
2018-05-15 06:00:00,1526364000,BTC/USD,8733.86,8796.68,8707.28,8740.99,4.906603e+06,5.599300e+02,8477.674667