In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle("./data/binance-BTCUSDT-1h.pkl")

In [3]:
df

,open,high,low,close,volume,date_close
date_open,,,,,,
2022-12-31 17:00:00,16600.93,16604.37,16571.01,16582.08,4844.04845,2022-12-31 18:00:00
2022-12-31 18:00:00,16581.45,16589.36,16571.80,16577.79,3340.80330,2022-12-31 19:00:00
2022-12-31 19:00:00,16577.78,16590.06,16565.10,16570.14,4044.43359,2022-12-31 20:00:00
2022-12-31 20:00:00,16570.14,16574.97,16564.09,16568.60,2622.14355,2022-12-31 21:00:00
2022-12-31 21:00:00,16568.19,16571.64,16544.12,16548.28,3618.77389,2022-12-31 22:00:00
...,...,...,...,...,...,...
2023-06-04 21:00:00,27241.50,27280.00,27187.39,27194.57,630.62225,2023-06-04 22:00:00
2023-06-04 22:00:00,27194.57,27455.02,27188.27,27234.06,3633.43419,2023-06-04 23:00:00
2023-06-04 23:00:00,27234.06,27319.84,27043.65,27115.21,1800.14400,2023-06-05 00:00:00
2023-06-05 00:00:00,27115.20,27129.33,26966.00,27024.76,1770.73298,2023-06-05 01:00:00
2023-06-05 01:00:00,27024.75,27037.08,26998.53,27031.02,252.35175,2023-06-05 02:00:00