In [1]:
import pandas as pd
import numpy as np

In [2]:

df = pd.read_pickle("./data/binance-BTCUSDT-1h.pkl")
# df = pd.read_csv("./data/BTC_USD-Hourly.csv", parse_dates=["date"], index_col="date")
df.sort_index(inplace=True)
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)
df.dropna(inplace=True)

In [3]:
df.tail()

,open,high,low,close,volume,date_close
date_open,,,,,,
2023-06-08 02:00:00,26443.60,26446.00,26363.48,26386.51,1033.29331,2023-06-08 03:00:00
2023-06-08 03:00:00,26386.50,26386.51,26210.00,26344.17,1658.68120,2023-06-08 04:00:00
2023-06-08 04:00:00,26344.16,26428.06,26326.19,26400.97,718.48832,2023-06-08 05:00:00
2023-06-08 05:00:00,26400.96,26435.22,26350.00,26377.51,839.63098,2023-06-08 06:00:00
2023-06-08 06:00:00,26377.51,26377.51,26290.19,26332.86,387.44668,2023-06-08 07:00:00

In [4]:
import legendary_ta as lta

In [5]:
df = lta.smi_momentum(df)
df.tail(10)

,open,high,low,close,volume,date_close,feature_smi
date_open,,,,,,,
2023-06-07 21:00:00,26359.94,26457.23,26125.01,26156.00,2031.37972,2023-06-07 22:00:00,-57.567213
2023-06-07 22:00:00,26154.52,26373.33,26132.40,26275.90,1989.36987,2023-06-07 23:00:00,-60.730679
2023-06-07 23:00:00,26275.90,26364.95,26257.35,26339.34,1020.03527,2023-06-08 00:00:00,-53.744715
2023-06-08 00:00:00,26339.34,26440.49,26305.11,26390.01,1503.99009,2023-06-08 01:00:00,-37.896021
2023-06-08 01:00:00,26390.01,26470.00,26383.90,26443.60,1022.65527,2023-06-08 02:00:00,-15.813847
2023-06-08 02:00:00,26443.60,26446.00,26363.48,26386.51,1033.29331,2023-06-08 03:00:00,0.153914
2023-06-08 03:00:00,26386.50,26386.51,26210.00,26344.17,1658.68120,2023-06-08 04:00:00,6.593914
2023-06-08 04:00:00,26344.16,26428.06,26326.19,26400.97,718.48832,2023-06-08 05:00:00,17.771550
2023-06-08 05:00:00,26400.96,26435.22,26350.00,26377.51,839.63098,2023-06-08 06:00:00,27.165274
2023-06-08 06:00:00,26377.51,26377.51,26290.19,26332.86,387.44668,2023-06-08 07:00:00,27.944923

In [6]:
lta.pinbar(df, df["feature_smi"])
df.tail(10)

,open,high,low,close,volume,date_close,feature_smi,feature_pinbar
date_open,,,,,,,,
2023-06-07 21:00:00,26359.94,26457.23,26125.01,26156.00,2031.37972,2023-06-07 22:00:00,-57.567213,0
2023-06-07 22:00:00,26154.52,26373.33,26132.40,26275.90,1989.36987,2023-06-07 23:00:00,-60.730679,0
2023-06-07 23:00:00,26275.90,26364.95,26257.35,26339.34,1020.03527,2023-06-08 00:00:00,-53.744715,0
2023-06-08 00:00:00,26339.34,26440.49,26305.11,26390.01,1503.99009,2023-06-08 01:00:00,-37.896021,0
2023-06-08 01:00:00,26390.01,26470.00,26383.90,26443.60,1022.65527,2023-06-08 02:00:00,-15.813847,0
2023-06-08 02:00:00,26443.60,26446.00,26363.48,26386.51,1033.29331,2023-06-08 03:00:00,0.153914,0
2023-06-08 03:00:00,26386.50,26386.51,26210.00,26344.17,1658.68120,2023-06-08 04:00:00,6.593914,0
2023-06-08 04:00:00,26344.16,26428.06,26326.19,26400.97,718.48832,2023-06-08 05:00:00,17.771550,0
2023-06-08 05:00:00,26400.96,26435.22,26350.00,26377.51,839.63098,2023-06-08 06:00:00,27.165274,0
2023-06-08 06:00:00,26377.51,26377.51,26290.19,26332.86,387.44668,2023-06-08 07:00:00,27.944923,0

In [7]:
df.tail(100)

,open,high,low,close,volume,date_close,feature_smi,feature_pinbar
date_open,,,,,,,,
2023-06-04 03:00:00,27091.28,27091.28,27042.85,27061.38,372.13858,2023-06-04 04:00:00,-11.953285,0
2023-06-04 04:00:00,27061.37,27083.56,27042.37,27054.95,377.40749,2023-06-04 05:00:00,0.441366,0
2023-06-04 05:00:00,27054.95,27056.47,27027.00,27038.63,250.41259,2023-06-04 06:00:00,10.517375,0
2023-06-04 06:00:00,27038.62,27141.70,27038.62,27127.78,892.17539,2023-06-04 07:00:00,29.440200,0
2023-06-04 07:00:00,27127.78,27163.94,27127.78,27150.45,938.24329,2023-06-04 08:00:00,49.052642,0
...,...,...,...,...,...,...,...,...
2023-06-08 02:00:00,26443.60,26446.00,26363.48,26386.51,1033.29331,2023-06-08 03:00:00,0.153914,0
2023-06-08 03:00:00,26386.50,26386.51,26210.00,26344.17,1658.68120,2023-06-08 04:00:00,6.593914,0
2023-06-08 04:00:00,26344.16,26428.06,26326.19,26400.97,718.48832,2023-06-08 05:00:00,17.771550,0
2023-06-08 05:00:00,26400.96,26435.22,26350.00,26377.51,839.63098,2023-06-08 06:00:00,27.165274,0
2023-06-08 06:00:00,26377.51,26377.51,26290.19,26332.86,387.44668,2023-06-08 07:00:00,27.944923,0

In [8]:
df["feature_smi"] = df["feature_smi"]/100
df.tail(100)

,open,high,low,close,volume,date_close,feature_smi,feature_pinbar
date_open,,,,,,,,
2023-06-04 03:00:00,27091.28,27091.28,27042.85,27061.38,372.13858,2023-06-04 04:00:00,-0.119533,0
2023-06-04 04:00:00,27061.37,27083.56,27042.37,27054.95,377.40749,2023-06-04 05:00:00,0.004414,0
2023-06-04 05:00:00,27054.95,27056.47,27027.00,27038.63,250.41259,2023-06-04 06:00:00,0.105174,0
2023-06-04 06:00:00,27038.62,27141.70,27038.62,27127.78,892.17539,2023-06-04 07:00:00,0.294402,0
2023-06-04 07:00:00,27127.78,27163.94,27127.78,27150.45,938.24329,2023-06-04 08:00:00,0.490526,0
...,...,...,...,...,...,...,...,...
2023-06-08 02:00:00,26443.60,26446.00,26363.48,26386.51,1033.29331,2023-06-08 03:00:00,0.001539,0
2023-06-08 03:00:00,26386.50,26386.51,26210.00,26344.17,1658.68120,2023-06-08 04:00:00,0.065939,0
2023-06-08 04:00:00,26344.16,26428.06,26326.19,26400.97,718.48832,2023-06-08 05:00:00,0.177716,0
2023-06-08 05:00:00,26400.96,26435.22,26350.00,26377.51,839.63098,2023-06-08 06:00:00,0.271653,0
2023-06-08 06:00:00,26377.51,26377.51,26290.19,26332.86,387.44668,2023-06-08 07:00:00,0.279449,0

In [9]:
df = lta.dynamic_exhaustion_bars(df)
df.tail(10)

KeyError: 2

In [15]:
df.tail(100)

,open,high,low,close,volume,date_close,feature_smi,feature_pinbar,close_pct_change,pct_change_zscore,pct_change_zscore_smoothed,maj_qual,min_qual,maj_len,min_len,leledc_major,leledc_minor
date_open,,,,,,,,,,,,,,,,,
2023-06-04 04:00:00,27061.37,27083.56,27042.37,27054.95,377.40749,2023-06-04 05:00:00,0.004414,0.0,-0.000238,-0.036899,0.186320,13.0,13.0,6.0,6.0,NaN,0.0
2023-06-04 05:00:00,27054.95,27056.47,27027.00,27038.63,250.41259,2023-06-04 06:00:00,0.105174,0.0,-0.000603,-0.208394,-0.238045,15.0,15.0,6.0,6.0,NaN,0.0
2023-06-04 06:00:00,27038.62,27141.70,27038.62,27127.78,892.17539,2023-06-04 07:00:00,0.294402,0.0,0.003297,1.613084,0.455930,12.0,12.0,6.0,6.0,NaN,0.0
2023-06-04 07:00:00,27127.78,27163.94,27127.78,27150.45,938.24329,2023-06-04 08:00:00,0.490526,0.0,0.000836,0.385551,0.596747,11.0,11.0,6.0,6.0,NaN,0.0
2023-06-04 08:00:00,27150.46,27158.12,27123.81,27150.82,458.66225,2023-06-04 09:00:00,0.638521,0.0,0.000014,0.019228,0.672621,10.0,10.0,6.0,6.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-08 03:00:00,26386.50,26386.51,26210.00,26344.17,1658.68120,2023-06-08 04:00:00,0.065939,0.0,-0.001605,-0.129504,0.043083,14.0,14.0,6.0,6.0,NaN,0.0
2023-06-08 04:00:00,26344.16,26428.06,26326.19,26400.97,718.48832,2023-06-08 05:00:00,0.177716,0.0,0.002156,0.487585,0.044163,14.0,14.0,6.0,6.0,NaN,0.0
2023-06-08 05:00:00,26400.96,26435.22,26350.00,26377.51,839.63098,2023-06-08 06:00:00,0.271653,0.0,-0.000889,-0.130479,0.075867,14.0,14.0,6.0,6.0,NaN,0.0
2023-06-08 06:00:00,26377.51,26377.51,26290.19,26332.86,387.44668,2023-06-08 07:00:00,0.279449,0.0,-0.001693,-0.230462,0.042215,14.0,14.0,6.0,6.0,NaN,0.0
1,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [11]:
df['close'].tail(10)

date_open
2023-06-07 22:00:00    26275.90
2023-06-07 23:00:00    26339.34
2023-06-08 00:00:00    26390.01
2023-06-08 01:00:00    26443.60
2023-06-08 02:00:00    26386.51
2023-06-08 03:00:00    26344.17
2023-06-08 04:00:00    26400.97
2023-06-08 05:00:00    26377.51
2023-06-08 06:00:00    26332.86
1                           NaN
Name: close, dtype: float64

nan

In [13]:
df['close'][2]

KeyError: 2

In [16]:
df['close'].loc[2]

KeyError: 2

In [17]:
df1 = pd.read_pickle("./data/binance-BTCUSDT-1h.pkl")

In [19]:
df['close'].iloc[2]

16570.14

In [ ]:
import ray_train-hourv2