In [1]:
import pandas as pd
import numpy as np
import pandas_ta as ta

In [3]:
df = pd.read_pickle("./data/raw/binance-BTCUSDT-5m.pkl")

In [4]:
df.tail()

,open,high,low,close,volume,date_close
date_open,,,,,,
2023-06-05 12:50:00,26693.72,26698.57,26666.00,26675.09,201.40100,2023-06-05 12:55:00
2023-06-05 12:55:00,26675.09,26691.23,26654.39,26690.76,230.29799,2023-06-05 13:00:00
2023-06-05 13:00:00,26690.76,26694.36,26640.00,26676.17,232.48809,2023-06-05 13:05:00
2023-06-05 13:05:00,26676.17,26689.98,26651.25,26689.98,136.69593,2023-06-05 13:10:00
2023-06-05 13:10:00,26689.97,26732.86,26689.97,26724.37,131.74040,2023-06-05 13:15:00

In [ ]:
# df.ta.log_return(cumulative=True, append=True)
# df.ta.percent_return(cumulative=True, append=True)

In [5]:
df.columns

Index(['open', 'high', 'low', 'close', 'volume', 'date_close'], dtype='object')

In [7]:
import copy
df1 = copy.deepcopy(df)
df2 = copy.deepcopy(df)
df3 = copy.deepcopy(df)

In [ ]:
# (1) Create the Strategy
# MyStrategy = ta.Strategy(
#     name="DCSMA10",
#     ta=[
#         {"kind": "ohlc4"},
#         {"kind": "sma", "length": 10},
#         {"kind": "donchian", "lower_length": 10, "upper_length": 15},
#         {"kind": "ema", "close": "OHLC4", "length": 10, "suffix": "OHLC4"},
#     ]
# )
#
# # (2) Run the Strategy
# df.ta.strategy(MyStrategy)

# df.ta.strategy(ta.CommonStrategy)

In [8]:
# Create your own Custom Strategy
CustomStrategy = ta.Strategy(
    name="Momo and Volatility",
    description="SMA 50,200, BBANDS, RSI, MACD and Volume SMA 20",
    ta=[
        {"kind": "sma", "length": 50,"prefix": "feature"},
        {"kind": "sma", "length": 200, "prefix": "feature"},
        {"kind": "bbands", "length": 20, "prefix": "feature"},
        {"kind": "rsi", "prefix": "feature"},
        {"kind": "macd", "fast": 8, "slow": 21, "prefix": "feature"},
        {"kind": "sma", "close": "volume", "length": 20, "prefix": "feature_VOLUME"},
    ]
)
# To run your "Custom Strategy"
df.ta.strategy(CustomStrategy)

In [9]:
df.tail()

,open,high,low,close,volume,date_close,feature_SMA_50,feature_SMA_200,feature_BBL_20_2.0,feature_BBM_20_2.0,feature_BBU_20_2.0,feature_BBB_20_2.0,feature_BBP_20_2.0,feature_RSI_14,feature_MACD_8_21_9,feature_MACDh_8_21_9,feature_MACDs_8_21_9,feature_VOLUME_SMA_20
date_open,,,,,,,,,,,,,,,,,,
2023-06-05 12:50:00,26693.72,26698.57,26666.00,26675.09,201.40100,2023-06-05 12:55:00,26764.1824,26943.14745,26690.215187,26754.6250,26819.034813,0.481485,-0.117414,29.238474,-25.207065,-13.831864,-11.375200,101.233168
2023-06-05 12:55:00,26675.09,26691.23,26654.39,26690.76,230.29799,2023-06-05 13:00:00,26761.5870,26940.39120,26681.406921,26751.5890,26821.771079,0.524695,0.066634,35.035066,-26.402567,-12.021894,-14.380674,108.097298
2023-06-05 13:00:00,26690.76,26694.36,26640.00,26676.17,232.48809,2023-06-05 13:05:00,26759.1588,26937.54605,26670.020353,26747.1015,26824.182647,0.576370,0.039891,32.375770,-28.630346,-11.399737,-17.230608,117.775819
2023-06-05 13:05:00,26676.17,26689.98,26651.25,26689.98,136.69593,2023-06-05 13:10:00,26756.9856,26934.75805,26663.297990,26742.5475,26821.797010,0.592685,0.168342,37.232268,-27.813717,-8.466487,-19.347230,118.854250
2023-06-05 13:10:00,26689.97,26732.86,26689.97,26724.37,131.74040,2023-06-05 13:15:00,26755.5488,26932.22535,26661.601837,26740.4730,26819.344163,0.589901,0.397916,47.368760,-22.158551,-2.249057,-19.909494,120.686377

In [10]:
CustomStrategy = ta.Strategy(
    name="Momo and Volatility",
    description="SMA 50,200, BBANDS, RSI, MACD and Volume SMA 20",
    ta=[
        {"kind": "ohlc4"},
        {"kind": "sma", "length": 50,"prefix": "feature"},
        {"kind": "sma", "length": 200, "prefix": "feature"},
        {"kind": "bbands", "length": 20, "prefix": "feature"},
        {"kind": "rsi", "prefix": "feature"},
        {"kind": "macd", "fast": 8, "slow": 21, "prefix": "feature"},
        {"kind": "sma", "close": "volume", "length": 20, "prefix": "feature_VOLUME"},
    ]
)
# To run your "Custom Strategy"
df1.ta.strategy(CustomStrategy)

In [11]:
df1.tail()

,open,high,low,close,volume,date_close,OHLC4,feature_SMA_50,feature_SMA_200,feature_BBL_20_2.0,feature_BBM_20_2.0,feature_BBU_20_2.0,feature_BBB_20_2.0,feature_BBP_20_2.0,feature_RSI_14,feature_MACD_8_21_9,feature_MACDh_8_21_9,feature_MACDs_8_21_9,feature_VOLUME_SMA_20
date_open,,,,,,,,,,,,,,,,,,,
2023-06-05 12:50:00,26693.72,26698.57,26666.00,26675.09,201.40100,2023-06-05 12:55:00,26683.3450,26764.1824,26943.14745,26690.215187,26754.6250,26819.034813,0.481485,-0.117414,29.238474,-25.207065,-13.831864,-11.375200,101.233168
2023-06-05 12:55:00,26675.09,26691.23,26654.39,26690.76,230.29799,2023-06-05 13:00:00,26677.8675,26761.5870,26940.39120,26681.406921,26751.5890,26821.771079,0.524695,0.066634,35.035066,-26.402567,-12.021894,-14.380674,108.097298
2023-06-05 13:00:00,26690.76,26694.36,26640.00,26676.17,232.48809,2023-06-05 13:05:00,26675.3225,26759.1588,26937.54605,26670.020353,26747.1015,26824.182647,0.576370,0.039891,32.375770,-28.630346,-11.399737,-17.230608,117.775819
2023-06-05 13:05:00,26676.17,26689.98,26651.25,26689.98,136.69593,2023-06-05 13:10:00,26676.8450,26756.9856,26934.75805,26663.297990,26742.5475,26821.797010,0.592685,0.168342,37.232268,-27.813717,-8.466487,-19.347230,118.854250
2023-06-05 13:10:00,26689.97,26732.86,26689.97,26724.37,131.74040,2023-06-05 13:15:00,26709.2925,26755.5488,26932.22535,26661.601837,26740.4730,26819.344163,0.589901,0.397916,47.368760,-22.158551,-2.249057,-19.909494,120.686377

In [12]:
CustomStrategy = ta.Strategy(
    name="Momo and Volatility",
    description="SMA 50,200, BBANDS, RSI, MACD and Volume SMA 20",
    ta=[
        {"kind": "cdl_z"},
        {"kind": "sma", "length": 50,"prefix": "feature"},
        {"kind": "sma", "length": 200, "prefix": "feature"},
        {"kind": "bbands", "length": 20, "prefix": "feature"},
        {"kind": "rsi", "prefix": "feature"},
        {"kind": "macd", "fast": 8, "slow": 21, "prefix": "feature"},
        {"kind": "sma", "close": "volume", "length": 20, "prefix": "feature_VOLUME"},
    ]
)
# To run your "Custom Strategy"
df2.ta.strategy(CustomStrategy)

In [13]:
df2.tail()

,open,high,low,close,volume,date_close,open_Z_30_1,high_Z_30_1,low_Z_30_1,close_Z_30_1,...,feature_BBL_20_2.0,feature_BBM_20_2.0,feature_BBU_20_2.0,feature_BBB_20_2.0,feature_BBP_20_2.0,feature_RSI_14,feature_MACD_8_21_9,feature_MACDh_8_21_9,feature_MACDs_8_21_9,feature_VOLUME_SMA_20
date_open,,,,,,,,,,,,,,,,,,,,,
2023-06-05 12:50:00,26693.72,26698.57,26666.00,26675.09,201.40100,2023-06-05 12:55:00,-2.449809,-2.851266,-2.175664,-2.694092,...,26690.215187,26754.6250,26819.034813,0.481485,-0.117414,29.238474,-25.207065,-13.831864,-11.375200,101.233168
2023-06-05 12:55:00,26675.09,26691.23,26654.39,26690.76,230.29799,2023-06-05 13:00:00,-2.694046,-2.688976,-2.240789,-1.955533,...,26681.406921,26751.5890,26821.771079,0.524695,0.066634,35.035066,-26.402567,-12.021894,-14.380674,108.097298
2023-06-05 13:00:00,26690.76,26694.36,26640.00,26676.17,232.48809,2023-06-05 13:05:00,-1.955497,-2.251786,-2.314167,-2.156630,...,26670.020353,26747.1015,26824.182647,0.576370,0.039891,32.375770,-28.630346,-11.399737,-17.230608,117.775819
2023-06-05 13:05:00,26676.17,26689.98,26651.25,26689.98,136.69593,2023-06-05 13:10:00,-2.156602,-2.131454,-1.843063,-1.632157,...,26663.297990,26742.5475,26821.797010,0.592685,0.168342,37.232268,-27.813717,-8.466487,-19.347230,118.854250
2023-06-05 13:10:00,26689.97,26732.86,26689.97,26724.37,131.74040,2023-06-05 13:15:00,-1.632389,-0.728781,-0.867181,-0.599986,...,26661.601837,26740.4730,26819.344163,0.589901,0.397916,47.368760,-22.158551,-2.249057,-19.909494,120.686377

In [ ]:
# df.ta.strategy(fast=10, slow=50, verbose=True)

In [8]:
help(ta.cdl_z)

Help on function cdl_z in module pandas_ta.candles.cdl_z:

cdl_z(open_, high, low, close, length=None, full=None, ddof=None, offset=None, **kwargs)
    Candle Type: Z

    Normalizes OHLC Candles with a rolling Z Score.

    Source: Kevin Johnson

    Calculation:
        Default values:
            length=30, full=False, ddof=1
        Z = ZSCORE

        open  = Z( open, length, ddof)
        high  = Z( high, length, ddof)
        low   = Z(  low, length, ddof)
        close = Z(close, length, ddof)

    Args:
        open_ (pd.Series): Series of 'open's
        high (pd.Series): Series of 'high's
        low (pd.Series): Series of 'low's
        close (pd.Series): Series of 'close's
        length (int): The period. Default: 10

    Kwargs:
        naive (bool, optional): If True, prefills potential Doji less than
            the length if less than a percentage of it's high-low range.
            Default: False
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.Series: CDL_DOJI column.

In [9]:
#df = df.ta.cdl_z()

In [12]:
#df = df.ta.ha()

In [13]:
#df.tail()

                           HA_open   HA_high    HA_low  HA_close
date_open
2023-06-05 12:50:00+00:00      NaN -2.542708 -2.542708 -2.542708
2023-06-05 12:55:00+00:00      NaN -2.394836 -2.394836 -2.394836
2023-06-05 13:00:00+00:00      NaN -2.169520 -2.314167 -2.169520
2023-06-05 13:05:00+00:00      NaN -1.940819 -1.940819 -1.940819
2023-06-05 13:10:00+00:00      NaN -0.728781 -0.957084 -0.957084

In [14]:
df = df.ta.cdl_pattern(name="doji")

In [15]:
df

                     CDL_DOJI_10_0.1
date_open
2018-12-31 16:05:00              0.0
2018-12-31 16:10:00              0.0
2018-12-31 16:15:00              0.0
2018-12-31 16:20:00              0.0
2018-12-31 16:25:00              0.0
...                              ...
2023-06-05 12:50:00              0.0
2023-06-05 12:55:00              0.0
2023-06-05 13:00:00              0.0
2023-06-05 13:05:00              0.0
2023-06-05 13:10:00              0.0

[464844 rows x 1 columns]

In [16]:
df2

,open,high,low,close,volume,date_close,open_Z_30_1,high_Z_30_1,low_Z_30_1,close_Z_30_1,...,feature_BBL_20_2.0,feature_BBM_20_2.0,feature_BBU_20_2.0,feature_BBB_20_2.0,feature_BBP_20_2.0,feature_RSI_14,feature_MACD_8_21_9,feature_MACDh_8_21_9,feature_MACDs_8_21_9,feature_VOLUME_SMA_20
date_open,,,,,,,,,,,,,,,,,,,,,
2018-12-31 16:05:00,3750.11,3752.26,3743.78,3748.61,73.484180,2018-12-31 16:10:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-31 16:10:00,3747.55,3753.95,3742.00,3745.71,49.545187,2018-12-31 16:15:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-31 16:15:00,3745.71,3747.13,3735.00,3739.62,151.770226,2018-12-31 16:20:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-31 16:20:00,3739.62,3745.00,3731.99,3742.30,107.421241,2018-12-31 16:25:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-31 16:25:00,3742.28,3745.00,3739.30,3741.95,43.780808,2018-12-31 16:30:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-05 12:50:00,26693.72,26698.57,26666.00,26675.09,201.401000,2023-06-05 12:55:00,-2.449809,-2.851266,-2.175664,-2.694092,...,26690.215187,26754.6250,26819.034813,0.481485,-0.117414,29.238474,-25.207065,-13.831864,-11.375200,101.233168
2023-06-05 12:55:00,26675.09,26691.23,26654.39,26690.76,230.297990,2023-06-05 13:00:00,-2.694046,-2.688976,-2.240789,-1.955533,...,26681.406921,26751.5890,26821.771079,0.524695,0.066634,35.035066,-26.402567,-12.021894,-14.380674,108.097298
2023-06-05 13:00:00,26690.76,26694.36,26640.00,26676.17,232.488090,2023-06-05 13:05:00,-1.955497,-2.251786,-2.314167,-2.156630,...,26670.020353,26747.1015,26824.182647,0.576370,0.039891,32.375770,-28.630346,-11.399737,-17.230608,117.775819
2023-06-05 13:05:00,26676.17,26689.98,26651.25,26689.98,136.695930,2023-06-05 13:10:00,-2.156602,-2.131454,-1.843063,-1.632157,...,26663.297990,26742.5475,26821.797010,0.592685,0.168342,37.232268,-27.813717,-8.466487,-19.347230,118.854250
2023-06-05 13:10:00,26689.97,26732.86,26689.97,26724.37,131.740400,2023-06-05 13:15:00,-1.632389,-0.728781,-0.867181,-0.599986,...,26661.601837,26740.4730,26819.344163,0.589901,0.397916,47.368760,-22.158551,-2.249057,-19.909494,120.686377